body{
    background-color: #84dff4;
}
.App {
    background-color:#638396;
    padding: 10px;
}
.loadBodyData{
    /* centrado vertical */
    position: absolute;
    top: 50%;
    left: 50%;
}
.head{
    /*padding: 20px;*/
}

.body{
    background-image: url('../img/bosque.jpg');
    text-align: center;
    height:100vh;
}
.skillStart{
    padding: 50px;
}
.skills{
    /*Font of button skills*/
    text-align: center;
    font-size: 1vw;
    padding-top: 100px;
    text-align: justify;
    text-justify: inter-word;
}
.skills p{
    /*Font of button skills*/
    width: 100%;
}
.image-skills img{
     /*Image of button skills*/
    position: relative;
    top: 10px;
    width: 60%;
    height: 50vh;
}
  